*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}
.calculator{
    width: 320px;
    background-color: #1d1d1d;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px #000;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.calculator input{
    width: 100%;
    height: 60px;
    font-size: 28px;
    text-align: right;
    background: #000;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}
button{
    height: 55px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background: #333;
    color: white;
    box-shadow: -4px -4px 6px #111,4px 4px 8px #444;
    transition: 0.2s;
    cursor: pointer;
}
button:hover{
    background-color: #3d3d3d;
}
button:active{
    box-shadow: inset -2px -2px 5px #111, inset 2px 2px 5px #444;
    transform: scale(0.97);
}
.opr{
    background-color: #ff9500;
    color: #fff;
}
#eqBtn{
    background-color: orangered;
    color: white;
    font-weight: bolder;
}
#plusminus{
    background-color: #777;
}
